[pull]
	rebase = true
[rebase]
	autoStash = true
	autoSquash = true
[user]
	name = Jun Jie Ng
	email = jun@backbase.com
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = current
[alias]
    cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
